@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('../styles/headerFooter.css');
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
html{
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
}
main{
    text-align: center;
    padding: 100px 0 0 0 ;
    justify-content: space-evenly;
}
#ideas-input {
    display: flex;
    text-align: center;
}
.idea-submit{
    text-align: left;
    flex: 1;
    display: flex;
    justify-content: center;
}
.idea-submit > form {
    width: 60%;
    text-align: center;
}
.inputs-division{
    display: flex;
}
.inputs-division > input[type="text"]{
    width: 46%;
}
textarea[name="movieIdea"]{
    width: 100%;
}
input{
    margin: 2%;
}
input[type="button"]{
    width: 50%;
    border: none;
    background-color: #4abdac;
    transition: 1s;
    padding: 10px;
}
input[type="button"]:hover{
    background-color:#fc4a1a;
}
.idea-text{
    display: flex;
    align-items: center;
    flex: 1;
}
#ideas{
    padding: 10px;
}
.idea{
    background-color: rgba(209, 209, 209, 0.3);
    padding: 1%;
    margin: 1%;
}

@media screen and (max-width:500px){
    #ideas-input{
        flex-direction: column;
    }   
    .idea-submit > form{
        width: 90%;
    }
}