@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    /*font-family: Arial, Helvetica, sans-serif;*/
}
a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0px;
    padding: 0px;
    background-image: url('/images/background.png');
}
main{
    display: flex;
    justify-content: space-evenly;
    padding-top: 150px;
    padding-bottom: 100px;
}
main > div:nth-child(1){
    flex: 3;
}
main> div:nth-child(2){
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#modal-window{
    position: fixed;
    width: 90vw;
    height: 90vh;
    left: 5vw;
    top: 105vh;
    transition: 1s;
    z-index: 100;
    background-color: #4abdac;
    display: flex;
    justify-content: center;
}
#modal-window > div {
    flex: 0.5;
    text-align: center;
}
#modal-window >div > i {
    font-size: 50px;
    margin: 25px;
    transition: 0.5s;
}
#modal-window >div > i:active{
    transform: rotate(360deg);
}
#modal-window > div > img{
    max-width: 100%;
}
#modal-window.active-modal-window{
    top: 5vh;
}
#latest{
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-rated h1{
    text-align: center;
    color: gray;
    border-bottom: solid 3px orangered;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
}
#moreButton{
    display: block;
    width: 120px;
    height: 50px;
    border: solid 1px black;
    border-radius: 50px;
    margin: auto;
    background: linear-gradient(90deg,#4abdac,#dfdce3);
    border: none;
    border-radius: 25px;
    color: white;
    margin-top: 20px;
    font-size: 17px;
}
#moreButton:hover{
    background: linear-gradient(10deg,#4abdac,#dfdce3);
}
#window{
    width: 88%;
    overflow: hidden;
}
.latest-movies-container{
    display: flex;
    width: 166.66%;
    position: relative;
    right: 33.5%;
}
.top-rated-movies-container{
    display: flex;
    justify-content: center;
    height: 30vw;
}
#top-rated-boxes{
    margin-left: 40px;
    margin-right: 40px;
}
@keyframes imageSliderRight{
    0%{
        right: 33.2%;
    } 
    100%{
        right: 66.5%;
    }
}
@keyframes imageSliderLeft{
    0%{
        right: 33.5%;
    } 
    100%{
        right: 0%;
    }
}
.movie-container{
    display: flex;
    flex-direction: column;
    margin: 10px;
    position: relative;
}
.movie-picture-container{
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 10px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}
.division{
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #aca6a6a6;
    justify-content: space-evenly;
    color: white;
    padding: 5px 0 5px 0;
}
.division button{
    /* background-image: linear-gradient(90deg, #809bce, #72ddf7); */
    background: linear-gradient(90deg,#4abdac,#dfdce3);
    border: none;
    border-radius: 15px;
    color: white;
    margin: 0 5px 0 0;
    font-size: 100%;
}
.division button:hover{
    background: linear-gradient(10deg,#4abdac,#dfdce3);
}
.division p {
    margin: 5px;
    text-align: center;
    font-size: 100%;
}
.latestImages{
    max-width: 100%;
}
.top-rated-images{
    width:100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: -5px 5px 10px 5px gray;
}

.details{
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    background-color: #80808090;
    border-radius: 15px;
    display: none;
    text-align: center;
    font-size: 1.5vw;
    padding: 1vw;
}
.movie-picture-container:hover .details{
    display: block;
    animation-duration: .4s;
}
.rate{
    width: 6vw;
    text-align: center;
    position: absolute;
    background: #80808090;
    border-radius: 1vw;
    color: white;
    font-size: 1.3vw;
}
.movie-picture-container:hover .rate{
    display: none;
}
.latest-and-side{
    display: flex;
    justify-content: space-around;
}
.best-container{
    width: 90%;
}
.best-container > div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}
.best-container > div:nth-child(1)>i{
    color: gold;
}
.best{
    margin: 5px 0 5px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border: 2px solid aliceblue;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.best > img {
    width: 100%;
}
.best > div {
    padding: 5px 0 5px 0;
    width: 100%;
    background-color: #aca6a6a6;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.best > div > button{
    background-image: linear-gradient(90deg, #809bce, #72ddf7);
    border: none;
    border-radius: 15px;
    color: white;
    margin: 0 5px 0 0;
    font-size: 100%;
}
.best > div > h5 {
    margin: 5px;
    font-size: 100%;
    color: white;
}
.fb-plugin-container{
    width: 90%;
    overflow: hidden;
    
}
.fb-plugin-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4064ac;
}
.fb-plugin{
    border-radius: 10px;
    width: 100%;
}
@media only screen and (max-width: 600px){
    @keyframes imageSliderRight {
        0%{
            right: 50%;
        } 
        100%{
            right: 100%;
        }
    }
    @keyframes imageSliderLeft {
        0%{
            right:50%;
        } 
        100%{
            right: 0%;
        }
    }
    main{
        flex-wrap: wrap;
        padding-top: 70px;
    }
    #window{
        width: 90vw;
    }
    #modal-window > div {
        flex: 0.9;
    }
    .latest-movies-container{
        width: 227.5vw;
        right: 50%;
    }
    .nav-menu{
        flex:none;
        order: 3;
        left: 0%;
    }
    .menu > ul{
        padding: 0;
        display: none;
    }
    .menu > ul.active{
        display: block;
    }
    #top-rated h1{
        width: 60%;
    }
    .top-rated-movies-container{
        flex-direction: column;
        height: 250vw;
    }
    .details{
        font-size: 20px;
    }
    .rate{
        font-size: 20px;
        width: 20%;
    }
}